/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start here */
:root {
    --gray: rgb(85, 72, 72);
}

@font-face {
    font-family: 'LemonMilk';
    src: url('../fonts/LemonMilk.otf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

body {
    height:100vh;
    font-family: 'Roboto';
    width:100%;
    display:grid;
    grid-template-rows:.25fr 4fr .25fr;
    grid-template-columns: 1fr 3fr;
}

.header {
    font-family: 'LemonMilk';
    font-size:3rem;
    padding:16px;
    color:white;
    align-self:center;
}

span {
    grid-row: 1 / 1;
    grid-column: 1 / -1;
    background-color: var(--gray);
}


.sidebar {
    grid-column: 1 / 1;
    font-size:1.5rem;
    display:flex;
    flex-direction:column;
    padding:32px;
    gap:48px;
    background-color: lightgray;
}

.mainMenu {
    display:flex;
    flex-direction:column;
    gap:16px;
}

.button {
    display:flex;
    gap:8px;
    padding-left: 16px;
}

.button:hover, .addProject:hover {
    background-color:white;
    border-radius: 5px;
    padding:8px;
    cursor:pointer;
}

.projectContainer {
    display:flex;
    flex-direction:column;
    gap:16px;
}

.projectTitle {
    font-size:2rem;
    font-weight:900;
}

.projectOptions {
    padding-bottom:8px;
}

.hide {
    display:none;
}

.body {
	display:flex;
    flex-direction:column;
    padding: 32px 64px;
    gap:8px;
}

.bodyTitle {
    font-size:2.5rem;
    font-weight:900;
}

.todoList {
    padding:16px 0;
}

.todo {
    display:flex;
    width:75%;
    justify-content:space-between;
    border: 0.1px solid gray;
    padding:8px;
    border-radius:5px;
    align-items: center;

}

.todoAction.todoBtn {
    display:flex;
    align-items:center;
    width:fit-content;
    gap:4px;
    margin: 8px 0;
    border-radius:20px;
}

.todoAction.todoBtn:hover {
    color:gray;
    cursor: pointer;  
    padding:2px;  
}

.plusSymbol {
    font-size:1.25rem;
}

.completeBtn {
    background-color: white;
}
.completeBtn:hover {
    border: 1px solid black;
    cursor: pointer;
}



.todoAction.todoBtn.hide {
    display:none;
}

footer {
    grid-row: 3 / 3;
    grid-column: 1 / -1;
    background-color: var(--gray);
    display:flex;
    justify-content:center;
    align-items:center;
}