/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start here */
:root {
    --gray: rgb(85, 72, 72);
}

@font-face {
    font-family: 'LemonMilk';
    src: url('../fonts/LemonMilk.otf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

body {
    height:100vh;
    font-family: 'Roboto';
    width:100%;
    display:grid;
    grid-template-rows:.25fr 4fr .25fr;
    grid-template-columns: 1fr 3fr;
}

.header {
    font-family: 'LemonMilk';
    font-size:3rem;
    padding:16px;
    color:white;
    align-self:center;
}

span {
    grid-row: 1 / 1;
    grid-column: 1 / -1;
    background-color: var(--gray);
}


.sidebar {
    grid-column: 1 / 1;
    font-size:1.5rem;
    display:flex;
    flex-direction:column;
    padding:32px;
    gap:48px;
    background-color: lightgray;
}

.mainMenu {
    display:flex;
    flex-direction:column;
    gap:16px;
}

.button {
    display:flex;
    gap:8px;
    padding-left: 16px;
}

.button.projectName {
    gap:0;
}

.button:hover, .addProject:hover {
    background-color:white;
    border-radius: 5px;
    cursor:pointer;
}

.projectContainer {
    display:flex;
    flex-direction:column;
    gap:8px;
}

.projectContent {
    display:flex;
    flex-grow:1;
    gap:6px;
}

.projectList {
    display:flex;
    flex-direction: column;
    padding: 8px 0;
    gap:6px;
}

.delProject:hover {
    cursor:pointer;
    filter: drop-shadow(0 0 1px black);
}

.projectTitle {
    font-size:2rem;
    font-weight:900;
}

.projectPrompt {
    display:grid;
    grid-template-rows: 1fr 1fr;
    padding:6px;
}

#addProjectInput, .projectBtns {
    height:1rem;
    align-self:center;
    width:75%;
    justify-self:center;
}

.projectBtns {
    padding-top:6px;
    display:flex;
    justify-content:space-between;
}

.projectBtns .projectBtn {
    border:2px solid black;
    border-radius: 10px;
    padding:8px;
    font-size:1rem;
    display:flex;
    align-items:center;
}

.projectBtns .projectBtn:hover {
    border:2.5px solid black;
}

.projectBtns .projectBtn:active {
    opacity:.5;
}

.projectBtns .projectBtn#add {
    background:rgba(30, 255, 128, 0.8);
}

.projectBtns .projectBtn#cancel {
    background:rgba(255, 41, 30, 0.8);
}


.hide {
    display:none;
}

.body {
	display:flex;
    flex-direction:column;
    padding: 32px 64px;
    gap:8px;
}

.bodyTitle {
    font-size:2.5rem;
    font-weight:900;
}

.todoList {
    padding:16px 0;
}

.todo {
    display:grid;
    width:65%;
    border: 0.1px solid gray;
    padding:8px;
    border-radius:5px;
    gap:8px;
    grid-template-columns: .1fr .1fr 2fr;
}

.todoContent {
    grid-column: 3 / -1;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    cursor:pointer;
    word-wrap: break-word;
    word-break: break-all;
    padding-left:24px;
    align-items:start;
}

.todoContent:hover {
    font-weight:bold;
}

.todoContent .todoName {
    word-break: keep-all;
    grid-column: 1/3;
    grid-row: 1/1;
    justify-self:start;
    align-self:start;
}

.todoContent .todoDate {
    grid-column: 3/3;
    justify-self:end;
}

.todoContent .description {
    padding-top:6px;
    grid-column: 1 / -1;
    grid-row: 2 / 2;
}

.todoAction.todoBtn {
    display:flex;
    align-items:center;
    width:fit-content;
    gap:4px;
    margin: 8px 0;
    border-radius:20px;
}

.todoAction.todoBtn:hover {
    color:gray;
    cursor: pointer;  
    padding:2px;  
}

.plusSymbol {
    font-size:1.25rem;
}

.completeBtn, .editBtn {
    align-self:start;
    justify-self:start;
    cursor: pointer; 

}
.completeBtn {
    background-color: white;
    grid-column: 1/1;
    grid-row: 1/1;
    height:1.25rem;
    width:1.25rem;

}

.completeBtn:hover {
    filter: drop-shadow(0 0 1px black);
}

.editBtn {
    background-color: white;
    grid-column: 2/2;
    padding:0;
}

.editBtn img {
    height:1.25rem;
    width:1.25rem;
}

.editBtn img:hover {
    filter: drop-shadow(0 0 1px black);
}

.todoAction.todoBtn.hide {
    display:none;
}

.complete {
    color:gray;
    text-decoration: line-through;
}

form {
    position: absolute;
    justify-self:center;
    align-self: center;
    border: .1px solid black;
    border-radius: 20px;
    padding:16px 32px;
    background: var(--gray);
    
    display:grid;
    
    grid-template-columns:.5fr 1fr 1fr .5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, .5);
}

input, #todoDescription {
    border-radius: 5px;
    border: 2px solid black;
    padding:3px 4px;
}


#todoDescription {
    resize:none;
    font-family: 'Roboto';
    width:100%;
}

form .todoName {
    justify-self:end;
    align-self:end;
    grid-row:1/1;
    grid-column: 2/3;
}

form .todoDescription {
    grid-row: 2/2;
    grid-column: 2/ 4;
    display:flex;
}

form .dueDate {
    grid-row: 1/1;
    grid-column: 3/4;
    align-self:end;
    justify-self:end;
}

#dueDate {
    height:1rem;
}

form .priority {
    grid-row:3/3;
    grid-column: 2/2;
}

form .todoProject {
    grid-row: 3/3;
    grid-column: 3/3;
    margin-left: -64px;
}

form .priority, .todoProject {
    color: white;
    font-size:.75rem;
}

form button {
    height:1.5rem;
    width:50%;
}
form button#add {
    grid-row: 4/4;
    grid-column: 2/2;
}

form button#cancel {
    grid-row: 4/4;
    grid-column: 3/3;
}

form button#saveEdit {
    grid-row: 4/4;
    grid-column: 2/3;
    justify-content:center;
}



footer {
    grid-row: 3 / 3;
    grid-column: 1 / -1;
    background-color: var(--gray);
    display:flex;
    justify-content:center;
    align-items:center;
}