<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <span><h1 class="header"> <%= htmlWebpackPlugin.options.myPageHeader %> </h1></span>

    <div class="sidebar">
        <div class="mainMenu">
            <div class="mainMenuOptions project button" id="Inbox"><img src=<%=require("../src/images/inbox.jpg")%> alt="inbox icon" size="1.5rem">Inbox</div>
            <div class="mainMenuOptions project button" id="Today"><img src=<%=require("../src/images/today.jpg")%> alt="today icon" size="1.5rem">Today</div>
            <div class="mainMenuOptions project button" id="This Week"><img src=<%=require("../src/images/week.jpg")%> alt="week icon" size="1.5rem">This Week</div>
        </div>
               
        <div class="projectContainer">
            <div class="projectTitle">Projects</div>
            <div class="projectList">
            </div>
            <div class="addProject">
                <!-- Hide class used to toggle between hiding the Add Project button vs the prompt to actually create one -->
              <div class="projectAction">
                <div class="projectBtn button" id="new"><img src=<%=require("../src/images/addTask.jpg")%> alt="add project icon" size="1.5rem">Add Project</div>
              </div>
              <!-- Added additional projectPrompt class to style separately -->
              <div class="projectAction projectPrompt hide">
                <input type="text" class="addProjectInput" id="addProjectInput" placeholder="Name">
                <div class="projectBtns">
                  <div class="projectBtn" id="add">Add</div>
                  <div class="projectBtn" id="cancel">Cancel</div>
              </div>
              </div>
            </div>
        </div>
    </div>

    
    
    
      
      <div class="body">
        <div class="bodyTitle">
  
        </div>
        <div class="bodyContent">
          <div class="todoList">     
          </div>
          <div class="addTodo">
            <div class="todoAction todoBtn" id="new">
              <div class="plusSymbol">&#8853;</div> Add Todo
            </div>
          </div>
        </div>
      </div>

      <form class="todoAction hide" action="" method="" onsubmit="handleSubmit(event)" id="todoForm">
        <div class="todoPrompt todoName">
          <input type="text" name="todoName" id="todoName" placeholder="Title" required maxlength="32">
        </div>
        <div class="todoPrompt todoDescription">
          <textarea id="todoDescription" placeholder="Description" form_id="todoForm" maxlength="128"></textarea>
        </div>
        <div class="todoPrompt dueDate">
          <input type="date" name="dueDate" id="dueDate" required>
        </div>
        <div class="todoPrompt priority">
          <label for="priority">Priority</label>
          <select name="priority" id="priority" required placeholder="Priority">
            <option value="Low" selected>Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
          </select>
        </div>
        <div class="todoPrompt todoProject">
          <label for="project">Project</label>
          <select name="project" id="project" required> 
            <option value="Inbox" selected>Inbox</option>
          </select>
        </div>

        <button type="submit" class="submit formBtn" id="add">Add</button>
        <button type="button" class="todoBtn formBtn" id="cancel">Cancel</button>
        <button type="button" class="saveEdit todoBtn formBtn hide" id="saveEdit">Save</button>
      </form>

      <footer><div class="footer">Copyright &copy; 2022 Jinsungjun</div></footer>
  
    </body>
  </html>